.NewProduct {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .5rem;
    height: 98vh;
}

.NewItem {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .5rem;
    padding: 1rem;
}

.NewItemLeft {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .5rem;
    padding: 1rem;

    & p {
        font-size: .8rem;
        color: var(--black);
    }
}

.NewItemRight {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .5rem;
    box-shadow: var(--boxShadow);
    padding: 1rem;
}

.ImageInput {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .5rem;

    & span {
        font-size: .8rem;
        color: var(--black);
        font-weight: 600;
    }
}

.InputField {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    background: var(--success-lighter);
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;

    & img {
        width: 50%;
        height: 100%;
        object-fit: cover;
    }

    & p {
        font-size: .8rem;
        color: var(--black);

        &>span {
            font-size: .8rem;
            font-weight: 600;
            color: var(--success-darker);
        }
    }

}

.ProductRow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.TogleSwitch {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin-bottom: 1rem;

    & p {
        font-size: .8rem;
        color: var(--success-dark);
    }
}

.NewItemBtn {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    gap: .5rem;
    box-shadow: var(--boxShadow);
    padding: 1rem;
}

.NewBtns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;

    & button:first-child {
        background: var(--error-light);
        color: var(--error-darker);

        &:hover {
            background: var(--error-lighter);
            color: var(--error-dark);
        }
    }

    & button:last-child {
        background: var(--success-light);
        color: var(--success-darker);

        &:hover {
            background: var(--success-lighter);
            color: var(--success-dark);
        }
    }

    & button:disabled {
        background: var(--gray);
        color: var(--white);

        &:hover {
            background: var(--gray);
            color: var(--white);
        }
    }

    & button {
        background: var(--gray);
        color: var(--success-darker);
        cursor: none;

        &:hover {
            background: var(--gray);
            color: var(--success-dark);
        }

        & i {
            color: var(--success-dark);
        }
    }

    & p {
        font-size: .8rem;
        color: var(--success-dark);
        font-weight: 600;
    }

    & i {
        font-size: 1rem;
        color: var(--success-dark);
    }
}

.Sitch {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

    & p {
        font-size: .8rem;
        color: var(--gray);
        font-weight: 600;
    }
}

.SelectedImages {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    background: var(--success-lighter);
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
}

.SelectedImage {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .5rem;
    padding: .2rem;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--success-dark);


    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    & p {
        font-size: .8rem;
        color: var(--black);
        font-weight: 600;
    }
}

.UploadBtn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 5px;
    cursor: pointer;

    & p {
        font-size: .8rem;
        color: var(--success-dark);
        font-weight: 600;
    }

    & i {
        font-size: 1rem;
        color: var(--success-dark);
    }
}

.FileName {
    width: 100%;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .2rem;
    background: var(--success-lighter);

    & p {
        font-size: .7rem;
        color: var(--success-dark);
        font-weight: 600;
    }

    & i {
        font-size: .6rem;
        color: var(--error-dark);
        cursor: pointer;

    }
}