.Billing {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 80vh;
    width: 100%;
    gap: 1rem;
}

.BillingLeft,
.BillingRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    background: var(--background-paper, #FFF);
    box-shadow: var(--boxShadow);
    border-radius: 5px;
    padding: 1rem;
}

.BillingLeft {
    width: 70%;
}

.BillingRight {
    width: 30%;
    justify-content: flex-start;
    overflow: auto;
}

.InvoiceHistory {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .2rem;
}

.InvoiceRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: .5rem;
}

.InvoiceRowItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    & h1 {
        font-size: .8rem;
        line-height: 1.5;
        font-weight: 600;
        color: var(--bg-color);
    }

    & p {
        font-size: .7rem;
        color: #777;
    }
}

.InvoiceAmount {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.InvoiceDownload {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    & button {
        border-bottom: 1px solid var(--bg-color);
    }
}