.ProductsCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: var(--boxShadow);
    padding: .3rem;
    font-size: .8rem;
}

.ProductsCard:first-child {
    width: 70%;
    background: var(--success-lighter);
}

.ProductsCard:nth-child(2) {
    background: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.ProductsCard:nth-child(3) {
    background: var(--bg-color);
}

.Applaud {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.ApplaudLeft {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    & .Congrats {

        & p {
            font-size: 1rem;
            color: var(--black);
            font-weight: 600;
        }

        & span {
            font-size: 1rem;
            font-weight: 600;
            color: var(--success-darker);
        }
    }

    & span {
        font-size: 1rem;
        font-weight: 600;
        color: var(--success-darker);
    }

    & a {
        font-size: .8rem;
        border-radius: 5px;
        padding: .3rem .5rem;
        background: var(--success-dark);
        color: var(--white);
        text-decoration: none;
        font-weight: 600;
        transition: .3s ease-in-out;

        &:hover {
            background: var(--success-darker);
        }
    }

}

.ApplaudRight {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    & img {
        height: 100%;
        object-fit: cover;
    }


}

.ProductsStats {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.StatsTop {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.ProductsStatsLeft {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    & p {
        font-size: .8rem;
        color: var(--black);
    }

    & span {
        font-size: 1rem;
        font-weight: 600;
        color: var(--success-darker);
    }
}

.ProductsStatsRight {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.StatsRow {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;

    & span {
        font-weight: 600;
        color: var(--success-darker);
    }

    & p {
        font-size: .8rem;
        color: var(--black);
    }

}

.StatsRow:last-child span {
    font-weight: 600;
    color: var(--success-darker);
}

.StatsBottom {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;

    & .BottomRow {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0;

        & p {
            font-size: .7rem;
            color: var(--black);

            & span {
                font-weight: 600;
                color: var(--success-darker);
                cursor: pointer;
            }
        }
    }
}

.ProductsEarnings {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: #fff;
    gap: .5rem;

    & .EarningsAmount {
        background: var(--success-darker);
        padding: .3rem .5rem;
        border-radius: 5px;
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: .5rem;
    }

    & p {
        font-size: .8rem;
    }

    & span {
        font-size: 1rem;
        font-weight: 600;
    }
}

.EarningsBottom,
.BottomRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}