.DashLeft {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;


    & span {
        font-size: 1rem;
        font-weight: 600;
    }
}

.DashRight {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;

    & i {
        font-size: 1rem;
        transition: all .3s ease-in-out;
        cursor: pointer;

        &:hover {
            color: var(--green);
        }
    }
}

.UserProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & .UserImage {
        width: 1.8rem;
        height: 1.8rem;

        & img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
}

.UserName {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 0;


    & span {
        font-size: .7rem;
        font-weight: 600;
        margin: 0;
        padding: 0;
        gap: 0;

    }

    & p {
        font-size: .6rem;
        font-weight: 500;
        color: #9e9e9e;
        text-transform: capitalize;
        margin: 0;
        padding: 0;
        gap: 0;


        & i {
            font-size: .8rem;
            color: var(--black);
        }
    }
}

.NotificationModal {
    background: #fff;
    width: 25%;
    height: 90%;
    position: absolute;
    right: 1rem;
    top: 2.5rem;
    padding: .5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    outline: none;
}