.Profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
    padding: 1rem;
}

.ProfileNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-top: 1rem;
    padding: .5rem 0;
    gap: 1rem;
}

.ProfileNavItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    gap: .5rem;
    color: var(--gray);
    transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
    padding: .5rem;
    border-bottom: 2px solid transparent;

    & i {
        font-size: 1.3rem;
    }

    & h1 {
        font-size: 1rem;
        font-weight: 600;
    }

    &:hover {
        color: var(--black);
    }

    &.Active {
        color: rgba(33, 43, 54, 1);
        border-bottom: 2px solid rgba(33, 43, 54, 1);
        transition: border-bottom 0.3s ease-in-out, color 0.3s ease-in-out;
    }
}

.ProfileContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 1rem;
    gap: 1rem;
}

.ProfileInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}
