.yearly-sales-container {
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.yearly-sales-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.totals-display {
    display: flex;
    gap: .5rem;
}

.total-income,
.total-expenses {
    text-align: center;
}

.total-income {
    color: var(--success-dark);
}

.total-expenses {
    color: var(--warning-dark);
}

.total-income p,
.total-expenses p {
    margin: 0;
}

.total-income h3,
.total-expenses h3 {
    margin: 0;
}

.TotalText {
    display: flex;
}

.year-selector {
    background-color: #f5f5f5;
    border: none;
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 16px;
    color: #333;
}

.ResponsiveContainer {
    border-radius: 10px;
    overflow: hidden;
}