.ordered {
    color: orange;
}

.delivered {
    color: green;
}

.NoProducts {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;

    & i {
        font-size: 1.3rem;
        color: var(--green);
    }

    & h3 {
        font-size: 1.2rem;
        font-weight: 600;
        color: #666;
    }

    & p {
        font-size: .8rem;
        font-weight: 500;
        color: #666;
    }
}