.TransactionsContainer,
.TransactionsLeft,
.TransactionsRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    border-radius: 5px;
    overflow: auto;
}

.TransactionsContainer {
    flex-direction: row;
    width: 100%;
    gap: .5rem;

}

.TransactionsLeft {
    width: 60%;
}

.TransactionsRight {
    width: 40%;
    align-items: center;
    gap: 1rem;

}

.RequestedAmount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    & span {
        font-size: 1rem;
        font-weight: 600;
        color: var(--primary-dark);
    }

}

.PieChart {
    width: 100%;
}