.Card {
    width: 32%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.CardLeft,
.CardRight {
    height: 7rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CardRight {
    & span {
        font-size: .8rem;
        font-weight: 600;
    }

    & p {
        font-size: .8rem;
        font-weight: 600;
        color: var(--gray);
    }
}

.CardIcon {
    font-size: 1.2rem;
}