.Reports {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
    gap: .5rem;
    overflow: auto;
}


.AnalyticsTop {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: auto;
    border-radius: 10px;
}

.ReportsBottom {
    width: 100%;
    min-height: 90%;
    height: auto;
    display: grid;
    grid-template-columns: 65% 35%;
    gap: .5rem;
    border-radius: 10px;

}

.ReportsBottomLeft,
.ReportsBottomRight {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    overflow: auto;
    box-shadow: var(--boxShadow);
    border-radius: 10px;
}

.RevenueWeek {
    height: 100vh;
    padding: 0;
}

.News,
.RevenueWeek {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: .5rem;
    background: var(--background-paper, #FFF);
    box-shadow: var(--boxShadow);
    border-radius: 0.5rem;
}


.News {
    height: 100%;
}