.Requests {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
    gap: .5rem;
    overflow: auto;
}

.RequestsTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;
}

.TopRequestsBtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    height: 100%;

}


.TopRequestsRight {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    gap: 1rem;
}

.RequestTopItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.2rem .5rem;
    border-radius: 0.5rem;
    background-color: #E5E5E5;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    & i {
        font-size: .8rem;
    }
}

.RequestTopItemTitle {
    font-size: .8rem;
    font-weight: 500;
}

.RequestTopItemActive {
    background-color: rgba(200, 250, 214, 1);
    color: #000;

    & i {
        color: #000;
    }
}

.RequestTopItemIcon {
    font-size: 1rem;
    color: #000000;
}

.RequestBottom {
    height: 70%;
    overflow: auto;
}