.UserProfileName {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start;
    justify-content: center;

    & span {
        font-weight: 600 !important;
        font-size: 1rem !important;
    }

    & p {
        font-size: .8rem !important;
    }
}

.TableUsers {
    max-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: auto;
}

.MessagesModal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.MessageModal {
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: auto;
}

.ActionModal {
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: auto;
}