.AnalyticsCardsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.AnalyticsCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #666;
}

.AnalyticsCard::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: red;
}