.AnalyticsCardsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: .5rem;
}

.AnalyticsCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:last-child {
        border-right: 0;
    }
}