.UserCardsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.UserCard {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    & h3{
        font-size: 1rem;
        font-weight: 600;
    }
}