.SidebarContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    z-index: 1;
    letter-spacing: .7px;
}

.Toggler {
    display: none;
}

.SidebarTop {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .3rem;

    & .ProfilePic {
        width: 40%;
    }

    & .ProfilePic>img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        border: 2px solid var(--gray);
        padding: .3rem;
        object-fit: cover;
    }

    & .ProfileName {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 0 .3rem .5rem .3rem;
        color: var(--white);

        & span {
            font-size: 1rem;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & small {
            font-size: .8rem;
            font-weight: 500;
            color: var(--gray);
        }

        & p {
            font-size: .8rem;
            font-weight: 600;
            color: #ccc;
            text-transform: capitalize;
        }
    }
}

.SidebarItemLink {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem;
    margin: .1rem;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    gap: .5rem;


    &.Active {
        color: var(--p-color);
        box-shadow: 0 0 3px var(--light-green);
        background-color: var(--dark-green);
        transition: all .3s ease-in-out;
        margin-left: 0;
        animation: fadeIn .5s ease-in;

        &::before {
            content: '';
            width: 3px;
            height: 100%;
            background-color: var(--light-green);
            border-radius: 5px;
            margin-right: calc(1rem - 8px);
            animation: animate .5s ease-in;


        }
    }

    &:hover {
        color: var(--light-green);
        box-shadow: 0 0 3px var(--light-green);
    }

}

/* animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        margin-left: -1rem;
    }

    to {
        opacity: 1;
        margin-left: 0;
    }
}

/* animation */
@keyframes animate {
    0% {
        margin-left: -50%;
    }

    100% {
        margin-left: 0;
    }
}

.SidebarBottom {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: .5rem;
    overflow: auto;
}

.SidebarItems,
.Management {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem;
    border-top: 1px solid var(--gray);

    & .Header {
        color: var(--p-color);
    }
}

.SidebarItems {


    & .SidebarItem {
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: .5rem;
        margin: .1rem;
        border-radius: 5px;
        transition: all .3s ease-in-out;

        cursor: pointer;
        gap: .5rem;

        &:hover {
            color: var(--warning);
        }

        & .Icon {
            font-size: 1.3rem;
        }

        & span {
            color: var(--white);
        }
    }
}

.text-teal-300 {
    --tw-text-opacity: 1;
    color: rgb(94 234 212/var(--tw-text-opacity));
}

.Management {
    border-bottom: 1px solid var(--p-color);

    & .SidebarItemLink {
        width: 100%;
        height: 2rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: .5rem;
        margin: .1rem;
        border-radius: 5px;
        transition: all .3s ease-in-out;

        & i {
            font-size: 1rem;
            color: var(--txt-teal);
        }
    }
}

.Subscription {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--glass);
    padding: .5rem 0;
    margin-top: 1rem;
    border-radius: 8px;


    & .Upgrade {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: .5rem 0;

        & .Picture {
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                width: 3rem;
                height: 3rem;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }
}

.UpgradeDetails {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    & span {
        font-size: .8rem;
        font-weight: 600;
        color: var(--white);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    & small {
        width: 100%;
        font-size: .8rem;
        font-weight: 500;
        color: var(--p-color);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.UpgradeBtn {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: .5rem;

    & button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
        background: var(--success-lighter);
        color: var(--success-darker);
        font-size: 1rem;
        font-weight: 600;
        padding: .1rem .5rem;
        border-radius: 5px;
    }
}

.Version {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;

    & span {
        color: var(--p-color);
        font-size: .8rem;
        font-weight: 600;
    }
}

/* media queries */
@media screen and (max-width: 768px) {
    .Sidebar {
        width: 50%;
        height: 100%;
        position: fixed;
        z-index: 1 !important;
        transition: all .3s ease-in-out;
    }

    .SidebarTop {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 .5rem;

        & .ProfileName {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: .5rem;
            color: var(--white);

            & span {
                font-size: 1rem;
            }

            & p {
                font-size: .8rem;
            }

            & .SocialIcons a {
                font-size: 1rem;
            }
        }
    }

    .SidebarItems {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: .5rem;
        overflow: auto;
        box-shadow: 0 0 5px var(--gray);
        border-radius: 8px;

        & .SidebarItem {
            width: 100%;

            & i {
                font-size: 1rem;
            }

            & span {
                font-size: 1rem;
            }
        }
    }
}