.Finance {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 99vh;
    width: 100%;
    overflow: auto;
}

.FinanceContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: .5rem;
    padding: .5rem;
}

.FinanceLeft,
.FinanceRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: auto;
    height: 93vh;
}

.Transactions,
.UserProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    box-shadow: var(--boxShadow);
    padding: .5rem;
    border-radius: 5px;
}

.Transactions {
    align-items: flex-start;
    height: 70%;
}

.UserProfile {
    height: 40%;
    gap: .5rem;


    & p {
        font-size: .8rem;
        color: var(--color-fade);
    }

    & span {
        font-size: .8rem;
        font-weight: 600;
        color: var(--gray-dark);
    }
}

.user {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    box-shadow: var(--boxShadow);
    border-radius: 5px;
    padding: .5rem;
}

.MoneyCards {
    gap: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.MoneyCards,
.IncomeCard,
.ExpenseCard {
    width: 90%;

}

.IncomeCard,
.ExpenseCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    border-radius: 5px;
    box-shadow: var(--boxShadow);
    border: 1px solid var(--p-color);
}

.IncomeValue,
.ExpenseValue {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--p-color);
}

.CardIcon {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

}

.Income {
    background: var(--success-lighter);
}

.Expense {
    background: var(--warning-lighter);
}

.Advert {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    & .AdvertContainer {
        margin-top: 20%;
        width: 98%;
        background: var(--success-lighter);
        box-shadow: var(--boxShadow);
        padding: .5rem;
        border-radius: 5px;


        & img {
            width: 150px;
            object-fit: cover;
            position: relative;
            left: 50%;
            top: -30% !important;
            transform: translate(-50%, -30%);
        }

        & .Invite {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: .5rem;

            & h3 {
                font-size: 1rem;
                font-weight: 600;
                color: var(--black);
            }

            & p {
                font-size: 1rem;
                color: var(--black);
                text-align: center;
            }

            & input {
                background: var(--white);
            }

            & button {
                padding: .1rem .2rem;
                border-radius: 5px;
                background: var(--success-darker);
                color: var(--success-lighter);
                font-size: .8rem;
                font-weight: 600;
                border: none;
                cursor: pointer;
                transition: all .3s ease-in-out;

                &:hover {
                    background: var(--success-lighter);
                    color: var(--success-darker);
                }
            }
        }
    }
}