.HistoryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 80vh;
    width: 100%;
}

.HistoryGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.GroupDate {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: .1rem .2rem;
    background: var(--light-green);
    border-radius: 5px;
    margin: .5rem 0 .2rem 0;

    & h2 {
        font-size: .7rem;
        font-weight: 600;
        margin-left: .5rem;
    }
}



.Step {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    padding: 0 .5rem;

    & span {
        font-size: .8rem;
        font-weight: 600;
        color: var(--black);
    }
}

.StepLabel {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    left: .2rem;
    position: relative;
}

.Stepper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.BadgeTitleContainer,
.TimestampContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.css-14sza3e-MuiStepLabel-root {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
}