.Product {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.SelectButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: 25%;
    height: 100%;
}

.ProductImage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: auto;
    width: 2rem;

    & img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
    }
}

.ProductDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    & span {
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.ProductCategory {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.PublishStatus {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .1rem .3rem;
    border-radius: 5px;

    & span {
        font-size: .8rem;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 1px;
    }
}

.NoProduct {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;

    & img {
        width: 10rem;
    }

    & h3 {
        font-size: 1.2rem;
        font-weight: 600;
        color: #666;
    }

    & p {
        font-size: .8rem;
        font-weight: 500;
        color: #666;
    }
}