.StatsContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.StatsLeft,
.StatsRight {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--white);
    border-radius: 5px;
}

.StatsLeft {
    width: 65%;
}

.StatsRight {
    width: 35%;
}