.NewsCardContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto 15%;
    flex-direction: row;
    gap: .2rem;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    box-shadow: var(--boxShadow);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background: var(--bg-gray, #F5F5F5);
    }
}

.ImageContainer {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.ContentContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    & h1 {
        color: var(--text-primary, #212B36);
        font-size: 0.7rem;
        font-weight: 600;
    }

    & p {
        color: var(--text-secondary, #637381);
        font-size: 0.8rem;
        font-weight: 400;
    }
}

.Time {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    & p {
        color: var(--bg-color, #212B36);
        font-size: 0.7rem;
        font-weight: 500;
    }
}