.NewsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .3rem;
    overflow: auto;
}

.NewsCard {
    width: 100%;
}