@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --box-shadow: 0 4px 4px -4px rgba(0, 0, 0, .12);
  --green: rgb(69, 180, 69);
  --primary: #0d6efd;
  --secondary: #6c757d;
  --success: #198754;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #0dcaf0;
  --light: #f8f9fa;
  --dark: #212529;
  --white: #fff;
  --black: #000;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --glass: rgba(255, 255, 255, 0.2);
  --bg-clear: rgba(255, 255, 255, 0.1);
  --txt-teal: #64ffda;
  --p-color: #94A3B8;
  --bg-color: rgba(33, 43, 54, 1);
  --bg-color-clear: rgba(18, 27, 48, 0.8);
  --light-green: rgba(200, 250, 214, 1);
  --Background-Paper: rgba(255, 255, 255, 1);
  --text-primary: rgba(33, 43, 54, 1);
  --boxShadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.20);
  --success-lighter: rgba(211, 252, 210, 1);
  --success-light: rgba(119, 237, 139, 1);
  --success-dark: rgba(17, 141, 87, 1);
  --success-darker: rgba(6, 94, 73, 1);
  --primary-lighter: rgba(200, 250, 214, 1);
  --primary-light: rgba(91, 228, 155, 1);
  --primary-dark: rgba(0, 120, 103, 1);
  --primary-darker: rgba(0, 75, 80, 1);
  --secondary-lighter: rgba(239, 214, 255, 1);
  --secondary-light: rgba(198, 132, 255, 1);
  --secondary-dark: rgba(81, 25, 183, 1);
  --secondary-darker: rgba(39, 9, 122, 1);
  --info-lighter: rgba(202, 253, 245, 1);
  --info-light: rgba(97, 243, 243, 1);
  --info-dark: rgba(0, 108, 156, 1);
  --info-darker: rgba(0, 55, 104, 1);
  --warning-lighter: rgba(255, 245, 204, 1);
  --warning-light: rgba(255, 214, 102, 1);
  --warning-dark: rgba(183, 110, 0, 1);
  --warning-darker: rgba(122, 65, 0, 1);
  --error-lighter: rgba(255, 233, 213, 1);
  --error-light: rgba(255, 172, 130, 1);
  --error-dark: rgba(183, 29, 24, 1);
  --error-darker: rgba(122, 9, 22, 1);
}

* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: var(--p-color);
  margin: 3px;
}

::-webkit-scrollbar-track {
  background: var(--p-color);

}

::-webkit-scrollbar-thumb {
  background:var(--p-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--p-color);
}

textarea {
  font-family: sans-serif;
  font-size: 1rem;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.Sidebar {
  height: 100%;
}

.Mainbar {
  height: 100%;
}

.SpinnerLoading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  & i {
    font-size: 2rem;
    color: var(--green);
  }
}

.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  font-weight: 600;

  & i {
    font-size: 1rem;
    color: var(--green);
  }
}


.Online {
  display: flex;
  position: absolute;
  width: .7rem;
  height: .7rem;
  border-radius: 50%;
  background-color: green;
  border: 2px solid white;
  bottom: 5%;
  right: 5%;
  animation: pulse 1s linear infinite;

}

@keyframes pulse {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}

.Offline {
  display: flex;
  position: absolute;
  width: .7rem;
  height: .7rem;
  border-radius: 50%;
  background-color: red;
  border: 2px solid white;
  bottom: 5%;
  right: 5%;
}