.Orders {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
    gap: 10px;
}

.Stepper {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 40% 60%;
}

.Lists {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.Lists li {
    list-style: disc;
    margin: 0 10px;
    padding: 0;
}

.OrdersContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    overflow-y: auto;
    box-shadow: var(--boxShadow);
    gap: 0.5rem;
}


.ParentTable {
    width: 100%;
}

.OrdersContainer table {
    width: 100% !important;
    border-collapse: collapse;
    overflow: auto;
}

.OrdersContainer thead th {
    font-weight: 600;
}

.OrdersContainer th,
.OrdersContainer td {
    text-align: left;
    padding: 5px;
}

.OrdersContainer td>p {
    padding: 0.2rem 0.3rem;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 0.7rem;
    font-weight: 600;
    text-align: center;
}

.OrdersContainer tr:nth-child(even) {
    background-color: #f2f2f2;
}

.OrdersContainer tr:hover {
    background-color: #ddd;
    cursor: pointer;
}


.Loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.Loading i {
    font-size: 2rem;
    color: var(--green);
}

.ant-table-cell {
    padding: .4rem !important;
    margin: 0 !important;
}

.Customer {
    display: flex;
    gap: .5rem;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    border-radius: 5px;
}

.Avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.Avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ProductImage {
    width: 4rem;
    border-radius: 50%;
}

.ProductImage img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.CustomerDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.CustomerDetails span {
    font-size: .8rem;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.CustomerDetails p {
    font-size: .8rem;
    font-weight: 500;
    color: #666;
}

.CustomerDetails h3 {
    font-size: .7rem;
    font-weight: 600;
    color: #666;
}

.NoOrder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 10px;
}

.NoOrder img {
    width: 50%;
    object-fit: cover;
}

.TableTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: .5rem;
}

.Filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.Payment {
    padding: .2rem .3rem;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: .7rem;
    font-weight: 600;
    text-align: center;
}

.customer-info {
    display: flex;
    align-items: center;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.customer-details span {
    font-weight: bold;
}

.customer-details p {
    margin: 0;
}

.image-container {
    display: flex;
    align-items: center;
}

.circular-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: -10px;
    z-index: 1;
}

.more-images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--success-dark);
    color: white;
    font-size: 12px;
    border: 2px solid white;
    margin-left: -10px;
    z-index: 1;
}